@font-face {
  font-family: 'Altone Trial';
  src: url('/fonts/Altone Trial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Altone Trial';
  src: url('/fonts/Altone Trial-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Altone Trial';
  src: url('/fonts/Altone Trial-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Altone Trial';
  src: url('/fonts/Altone Trial-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
